/* ======================
   CSS Variables
   ====================== */
:root {
  /* General Colors */
  --light-color: #ffffff;
  --dark-color: #19191c;

  /* Border */
  --border-width: 0.25rem;

  /* Day/Night Switch */
  --moon-active-color: #4e48ee;
  --sun-active-color: #ff8800;
  --daynight-switch-backgroundcolor: rgb(255, 255, 255, 0.31);
  --daynight-ball-color-day: rgb(255, 255, 255, 0.57);

  /* Icon Bar */
  --icon-bar-inactive-Color: #373737;
  --icon-bar-active-dark-color: #4e48ee;

  /* Bar Styles */
  --bar-light-color: rgb(255, 255, 255, 0.4);
  --bar-dark-color: rgb(25, 25, 28, 0.4);
  --bar-circle-background: rgb(255, 255, 255, 08);
  --bar-circle-background-dark: rgb(25, 25, 28, 0.6);
  --bar-border-raidus: 3.8125rem;
  --bar-icon-inactive-opacity: 0.6;
  --bar-icon-active-opacity: 1;

  /* Misc */
  --lowbeam-active-color: #3fff00;
}

/* =======================
  Base Styles
  ======================= */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

/* =======================
   Button Area
   ======================= */
#button-area {
  position: absolute;
  margin: 0 auto;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  transition: opacity 10000ms;
}

/* =======================
   Start Button
   ======================= */
#start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 5rem;
  border: 5px solid #fff;
  text-align: center;
  opacity: 0.7;
  transition: transform 10000ms, opacity 500ms;
}
#start-button:hover {
  cursor: pointer;
}
#start-text {
  font-size: 3rem;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  animation-duration: 50ms;
}

/* =======================
   Utility Classes
   ======================= */
.hidden {
  opacity: 0 !important;
  font-size: 0px !important;
  transform: translateY(-100vh) !important;
}

/* =======================
   Overlay
   ======================= */
.overlay {
  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
}

/* =======================
   Icons
   ======================= */
.svg-icons {
  width: 2.5rem;
  fill: var(--icon-bar-inactive-Color);
}
.icon {
  font-size: 2rem;
  color: var(--icon-bar-inactive-Color);
}

/* =======================
   Bar Area & Circles
   ======================= */
.bar-area {
  background-color: var(--bar-light-color);
  border-radius: var(--bar-border-raidus);
  padding-inline: 2rem;
  width: fit-content;
  padding-block: 0.75rem;
}
.bar-area-night {
  background-color: var(--bar-dark-color);
}
.bar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  opacity: var(--bar-icon-inactive-opacity);
}
.circle {
  background-color: var(--bar-circle-background);
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 500ms;
}
.bar-area-parent {
  position: absolute;
  top: 91vh;
  left: 50vw;
  transform: translate(-50%);
}
.sound-switch-icon {
  background-color: var(--light-color);
}

/* =======================
   Day/Night Switch
   ======================= */
.daynight-switch-area {
  background-color: var(--daynight-switch-backgroundcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 4rem;
  border: 4px solid var(--light-color);
  border-radius: 4rem;
  position: relative;
  cursor: pointer;
  transition: all 1000ms;
}
.border-night {
  border-color: var(--dark-color);
}
.daynight-switch-icons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* =======================
   Top Bar
   ======================= */
.top-bar-allocator {
  display: flex;
  width: 100vw;
  justify-content: center;
}
.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-inline: 2rem;
  transition: all 500ms;
}

/* =======================
   Day/Night Ball & Icons
   ======================= */
.ball {
  width: 4rem;
  height: 4rem;
  background-color: var(--daynight-ball-color-day);
  position: absolute;
  border-radius: 100%;
  transform: translateX(50%);
  transition: all 500ms;
}
.ball-toggle {
  transform: translateX(-50%);
  background-color: var(--dark-color);
}
.sun {
  color: var(--sun-active-color);
  z-index: 1;
  transition: all 500ms;
}
.sun-inactive {
  color: var(--light-color);
}
.moon {
  color: var(--dark-color);
  z-index: 1;
  transition: all 500ms;
}
.moon-active {
  color: var(--icon-bar-active-dark-color);
}

.circle-night {
  background-color: var(--bar-circle-background-dark);
}
.icon-night {
  color: var(--light-color);
  fill: var(--light-color);
}
